{% extends "blog/base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'blog/css/post_detail.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,400i,500i,600,900&display=swap"
          rel="stylesheet">
{% endblock %}
{% block content %}

    <div id="article">
        <div class="blog-meta">
            <h1>{{ post.title }}</h1>
            <p class="author"> {{ post.author.get_full_name }} <span class="date"> | {{ post.date }}</span></p>
        </div>
        <img src="{{ post.image.url }}" alt="" id="cover-image"/>

        <div class="blog-content">
            {{ post.content|safe }}
        </div>
        <hr>
        <div id="card-holder">
            {% for photo in photos %}
                <div class="image-card">
                    <a class="card-link" href="{% url 'photo-detail' photo.pk %}">
                        <img class="image" src="{{ photo.images.url }}" alt=""/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}