{% extends "blog/base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <h1>Search results...</h1>
            <div class="row">
                {% if posts|length < 1 %}
                    <div class="col-md-4 d-flex">
                        <div class="card mb-4 box-shadow">
                            <p>Your search - <b>{{ request.GET.query }}</b> ... - did not match any documents.</p>
                            <p>Suggestions:</p>
                            <li>Make sure that all words are spelled correctly.</li>
                            <li>Try different keywords.</li>
                            <li>Try more general keywords.</li>
                            <li>Try fewer keywords.</li>
                        </div>
                    </div>
                {% else %}
                    {% for post in posts %}
                        <div class="col-md-4 d-flex">
                            <div class="card mb-4 box-shadow">
                                <a class="card-link" href="{% url 'post-detail' post.slug %}">
                                    <img class="card-img-top" style="height: 225px; width: 100%; display: block;"
                                         src="{{ post.image.url }}" alt=""/>
                                </a>
                                <div class="card-body">
                                    <p class="card-text">{{ post.title|truncatewords:5 }}</p>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">{{ post.author.get_full_name }}
                                            - {{ post.date }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}