{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>tHeAntichrist</title>
    <link href="{% static 'blog/css/base.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,400i,600,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9c7a50154.js" crossorigin="anonymous"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div id="top-bar">
    <div class="logo-bar">
        <div class="logo">
            <a href="{% url 'index' %}">Dave Yo</a>
        </div>
        <p class="logo">Think space</p>
    </div>

    <!-- Search Bar -->
    <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="search">
            <input type="text" name="query" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>

    <div id="menu-items-container">
{#        {% if request.user.is_authenticated %}#}
            <p class="menu-item">Welcome</p>
{#        {% else %}#}
{#            <a href="{% url 'login' %}" class="menu-item">Login</a>#}
{#            <a href="{% url 'signup' %}">#}
{#                <button id="signup-btn">Signup</button>#}
{#            </a>#}
{#        {% endif %}#}
    </div>

</div>

{% block content %}
{% endblock %}

<div id="bottom-bar"></div>
</body>
</html>